html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font: inherit;
}
